<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.fengyulou.dao.member.monitor.MemberMonitorDao">
    <insert id="insertMemberMonitor" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into fengyulou_member_monitor(user_id_one,`member_id`,user_id_two,insert_time) values (#{userIdOne},#{memberId},#{userIdTwo},now())
    </insert>
    <update id="deleteMemberMonitorByUserIdAndMemberId">
        update fengyulou_member_monitor set `delete`=1 where user_id=#{userId} and member_id=#{memberId} and `delete`=0
    </update>

    <select id="getMemberMonitorList" resultType="com.guoguo.fengyulou.entity.member.monitor.MemberMonitor">
        select
        fengyulou_member_monitor.id,
        fengyulou_user.name userOneName,
        fengyulou_member.name memberName
        from fengyulou_member_monitor
        left join fengyulou_user on fengyulou_user.id=fengyulou_member_monitor.user_id_one
        left join fengyulou_member on fengyulou_member.id=fengyulou_member_monitor.member_id
        <where>
            fengyulou_member.`delete`=0
        </where>
        order by fengyulou_member.id desc
    </select>
    <select id="getMemberMonitorCountByMemberMonitor" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_member where mobile=#{mobile} and user_id=#{userId} and id!=#{id}
    </select>
    <select id="getMemberMonitorCountByMobileAndUserId" resultType="java.lang.Integer">
        select ifnull(count(1),0) from fengyulou_member where mobile=#{mobile} and user_id=#{userId}
    </select>
    <select id="getMemberMonitorByIdAndUserId" resultType="com.guoguo.fengyulou.entity.member.monitor.MemberMonitor">
        select id,`name`,member_label_id,mobile from fengyulou_member where id=#{id} and user_id=#{userId} limit 1
    </select>
    <!--CREATE TABLE `fengyulou_member` (
    `Id` int(11) NOT NULL AUTO_INCREMENT,
    `name` varchar(255) NOT NULL DEFAULT '' COMMENT '人员名称',
    `member_label_id` int(11) NOT NULL DEFAULT '0' COMMENT '人员标签id',
    `mobile` varchar(255) DEFAULT '' COMMENT '人员手机',
    `delete` tinyint(3) NOT NULL DEFAULT '0' COMMENT '0正常 1删除',
    `user_id` int(11) NOT NULL DEFAULT '0' COMMENT '用户id',
    PRIMARY KEY (`Id`)
    ) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COMMENT='人员表';-->
</mapper>