<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoguo.fengyulou.dao.member.monitor.MemberMonitorDao">
    <insert id="insertMemberMonitor" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into fengyulou_member_monitor(user_id_one,`member_id`,user_id_two,insert_time) values (#{userIdOne},#{memberId},#{userIdTwo},now())
    </insert>
    <update id="deleteMemberMonitorByUserIdTwoAndMemberId">
        update fengyulou_member_monitor set `delete`=1,delete_time=now() where user_id_two=#{userIdTwo} and member_id=#{memberId} and `delete`=0
    </update>
    <update id="updateMemberMonitor">
        update fengyulou_member_monitor set `delete`=0,insert_time=now(),update_time=null,delete_time=null where id=#{id}
    </update>

    <select id="getMemberMonitorList" resultType="com.guoguo.fengyulou.entity.member.monitor.MemberMonitor">
        select
        fengyulou_member_monitor.id,
        fengyulou_member_monitor.member_id,
        fengyulou_user.name userOneName,
        fengyulou_member.name memberName,
        fengyulou_member_monitor.insert_time
        from fengyulou_member_monitor
        left join fengyulou_user on fengyulou_user.id=fengyulou_member_monitor.user_id_one
        left join fengyulou_member on fengyulou_member.id=fengyulou_member_monitor.member_id
        <where>
            fengyulou_member_monitor.`delete`=0
            and fengyulou_member_monitor.user_id_two=#{userIdTwo}
        </where>
    </select>
    <select id="getMemberMonitorByUserTwoIdAndMemberId"
            resultType="com.guoguo.fengyulou.entity.member.monitor.MemberMonitor">
        select id from fengyulou_member_monitor where `delete`=1 and user_id_two=#{userIdTwo} and member_id=#{memberId}
    </select>
    <select id="getMemberMonitorListByUserIdOne"
            resultType="com.guoguo.fengyulou.entity.member.monitor.MemberMonitor">
        select user_id_two from fengyulou_member_monitor where `delete`=0 and user_id_one=#{userIdOne}
    </select>
    <select id="getMemberMonitorListByUserIdOneAndMemberId"
            resultType="com.guoguo.fengyulou.entity.member.monitor.MemberMonitor">
        select user_id_two from fengyulou_member_monitor where `delete`=0 and user_id_one=#{userIdOne} and member_id=#{memberId}
    </select>
</mapper>